.table-ribbon {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border: 0;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #eee;
    border-style: solid;

    .left-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 8px 12px 8px 8px;
            font-size: 18px;
            color: #121212;
        }

        .t-arrow {
            padding: 8px;

            .icon {
                font-size: 22px;
            }
        }

    }

    .right-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            height: 36px;
            padding: 8px 12px 8px 8px;
            font-size: 18px;
            border: 2px solid #eee;
            color: #545454;
            border-radius: 10px;
        }

        .big {
            padding: 8px 24px;
            background-color: #4b6a4b;
            color: #fff;
        }
    }
}